<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701834056835-q2cl5b6plm6kjmqqf25s3466ffbpi177.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701834056835-q2cl5b6plm6kjmqqf25s3466ffbpi177</string>
	<key>API_KEY</key>
	<string>AIzaSyAzNzw51E10XR2c77THn0K3J5DGN9H_YPo</string>
	<key>GCM_SENDER_ID</key>
	<string>701834056835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginSignupScreen</string>
	<key>PROJECT_ID</key>
	<string>login-and-registration-94535</string>
	<key>STORAGE_BUCKET</key>
	<string>login-and-registration-94535.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701834056835:ios:e26eb4ff9bb937083a37b6</string>
</dict>
</plist>